<h1>Rooms#index</h1>

<%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg",size:"20x20"%>

<table class="table">
            <tr>
            <th>nicname</th>
            <td><%= current_user.name %></td>
            </tr>