.message-image-us {
  margin: 20px 0;
}

.message-image-us .image-icon {
  border-radius: 50%;
}

.message-image-us .message-coment-box {
  position: relative;
  margin: 2em 0 2em 40px;
  padding: 8px 15px;
  background: #eb892e;
  border-radius: 30px;
}

.message-image-us .message-coment-box:before {
  font-family: FontAwesome;
  content: "\f111";
  position: absolute;
  font-size: 15px;
  left: -40px;
  bottom: 0;
  color: #eb892e;
}

.message-image-us .message-coment-box:after {
  font-family: FontAwesome;
  content: "\f111";
  position: absolute;
  font-size: 23px;
  left: -23px;
  bottom: 0;
  color: #eb892e;
}

.message-image-cu {
  text-align: right;
  margin: 20px;
}

.message-image-cu .message-coment-box {
  position: relative;
  margin: 2em 40px 2em 0;
  padding: 8px 15px;
  background: #72ddeb;
  border-radius: 30px;
}

.current-lyaout {
  margin-top: 10px;
}
